# Ignore PyCache
parasite_egg_detection/__pycache__/
parasite_egg_detection/data/__pycache__/

# Added requirements.txt instead
.venv/

# Ignore general and strongylid datasets and test
parasite_egg_detection/data/general_dataset/images/
parasite_egg_detection/data/general_test/images/
parasite_egg_detection/data/strongylid_dataset/images/
parasite_egg_detection/data/strongylid_dataset/test_images/
parasite_egg_detection/data/strongylid_dataset/general_images/
parasite_egg_detection/data/strongylid_dataset/general_test_images/
parasite_egg_detection/data/strongylid_dataset/xml_annotations/

# Ignore SAM Model parameters -> downloadable online
parasite_egg_detection/data/content/

# Ignore custom trained model parameters due to GitHub memory constraint
parasite_egg_detection/saved_models/general_model_weights.pth
parasite_egg_detection/saved_models/strongylid_model_weights.pth
parasite_egg_detection/saved_models/strongylid_without_gen.pth