# Ignore PyCache
__pycache__/

# Added requirements.txt instead
.venv/

# Ignore general and strongylid datasets and test
data/general_dataset/images/
data/general_test/images/
data/strongylid_dataset/images/

# Ignore SAM Model parameters -> downloadable online
data/content/

# Ignore custom trained model parameters due to GitHub memory constraint
saved_models/