# Ignore training set and test set images
data/general_dataset/images/
data/general_test/images/

# Ignore SAM Model parameters -> downloadable online
data/content/

# Added requirements.txt instead
.venv/

data/strongylid_data/images/

__pycache__/

saved_models/