html, body {
    width: 100%;
    min-height: 100vh;
}

.hero-container {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url('../images/hero-img.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin-bottom: 0.8em;
}

@media only screen and (min-width: 1000px) {
    h1 {
        font-size: 4.5rem;
    }
}

form {
    margin-bottom: 3em;
    margin-left: 1em;
    margin-right: 1em;
}

.fec-image {
    margin-bottom: 3em;
}

@media only screen and (min-width: 600px) {
    form {
        display: flex;
        column-gap: 1em;
        margin-left: 0;
        margin-right: 0;
    }

    .fec-image {
        margin-bottom: 0;
    }
}

.image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

#preview {
    max-width: 100%;
    max-height: 350px;
}

.display-fec {
    font-size: 1.25rem;
    font-weight: 500;
}

.display-fec span {
    font-weight: bold;
    text-decoration: underline;
}

.fec img {
    margin-top: 1em;
    max-width: 100%;
    max-height: 350px;
}
